@charset "utf-8";
@import url(./fontStyle.css);

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset  */
* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; color: inherit;}
img { display: block;}
body { font-family: 'Pretendard-Regular';}

/* menu */
div#wrap {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color:  #ffb936; }
div#wrap ul#gnb { position: fixed; top: 4%; left: 40%; }
div#wrap ul#gnb li { float: left; padding: 20px;}
div#wrap ul#gnb li a { font-size: 24px; color: #ffffff;}
div#wrap ul#gnb li:hover a { font-size: 26px; color: #850de7; }


/* CardNews */
div#wrap figure ul { display: block;}
div#wrap figure {position: fixed; top: 20%; left: 33%; width:500px;  height: 600px; overflow: hidden; }
div#wrap figure ul .slide01 { background: url(../img/Insta\ card\ news0.png) no-repeat center/cover;}
div#wrap figure ul .slide02 { background: url(../img/Insta\ card\ news1.png) no-repeat center/cover;}
div#wrap figure ul .slide03 { background: url(../img/Insta\ card\ news2.png) no-repeat center/cover;}
div#wrap figure ul .slide04 { background: url(../img/Insta\ card\ news3.png) no-repeat center/cover;}
div#wrap figure ul li { width: 100%; height: 600px;}
div#wrap .ex { position: fixed; top: 50%; right: 19%;}
div#wrap p { font-size: 16px; line-height: 2; color: #850de7;}


