@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
* { margin:0;  padding:0; }
li { list-style: none; }
a { text-decoration:none; color:#262626; }
img { display: block; }
body { font:12px/1.6 'Poiret One' 'SUITE', sans-serif, cursive; color:#555; } 

/* 기본 레이아웃 */
header {
  position: fixed; width: 15%; height: 100%; 
  background-color: #ffffff; top: 0; left: 0;
  transition: .5s;
}
section {
  width: 85%; position: relative; margin-left: 15%;
}
article {
  float: left; height: 260px; animation: ani_scale 1s 1; 
}

@keyframes ani_scale {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

/* header contents */
header h1 {
  width: 180px; height: 136px; background: url(../img/LOGO_1.png) no-repeat 0 0; background-size: contain; position: absolute;
  top: 70px; left: 70%; margin-left: -90px; text-indent: -9999px;
  font-size: 0;
}
header ul#gnb {
  position: absolute; top: 300px; right: 0;
}
header ul#gnb a {
  display: block; padding: 8px 30px; font-size: 17px; font-weight: bold;
  color: #313a43; line-height: 1.8; transition: .5s;
}
header ul#gnb a:hover {
  color: #7fc241;
}
header ul#gnb a span {
  margin-left: 13px;
}

/* article contents */
article > div {
  position: relative; width: 100%; height: 100%; 
  overflow: hidden; cursor: pointer;
}
/* 배경이미지 삽입 */
article div.bg1 { background: url(../video/FRANK.mp4); }
article div.bg2 { background: url(../img/SET.png); }
article div.bg3 { background: url(../img/bacon\ burger.png); }
article div.bg4 { background: url(../img/French\ fries.png); }
article div.bg4:hover { background: url(../img/buffalo\ wings.png) center/cover; }
article div.bg5 { background: url(../img/banner_3.png) center/cover; }
article div.bg6 { background: url(../img/store.png); }
article div.bg6:hover { background: url(../img/store.png) center/cover;  }
article div.bg7 { background: url(../img/milkshake.png); }
article div.bg7:hover { background: url(../img/coffee.png) center/cover; }

/* 이미지 박스 스타일 */
article div.bg { 
  background-size: cover; background-position: center center; 
}
section article div.bg span { 
  font-size: 60px; color: #37b025; 
  position: absolute; bottom: 0; right: 20px;
  transform: scale(10); opacity: 0; transition: .6s;
}
section article div.bg1 span { 
  font-size: 170px;   bottom: -76px; right: -6px; opacity: 1;
  transform: scale(1); transition: .5s;
}

/* 이미지 박스 호버시 */
article:hover div.bg span { opacity: 1; transform:scale(1); }
article div.bg1:hover span { transform:rotateY(360deg); color: #ffffff; }

/* 텍스트 박스 */
article div.txt {
  color: #ffffff; background-color: #7fc241; box-sizing: border-box;
  padding: 40px 30px; transition: 1s;
}
article:nth-child(3) div.txt { background-color: #313a43; }
article:nth-child(11) div.txt { background-color: #313a43; }
article div.txt span { 
  font-size: 300px; color: #37b025; opacity: 0; 
  position: absolute; bottom: -70px; right: -280px; transition: .7s;
} 

article:nth-child(2) div.txt img {   
  position: absolute; bottom: -15px; right: -85px;
} 
article:nth-child(3) div.txt span { 
  font-size: 200px; color: #fff; opacity: .7; 
  position: absolute; bottom: -20px; right: -15px;
} 
article:nth-child(6) div.txt img { 
  position: absolute; bottom: 5px; right: -100px;
} 
article div.txt strong { 
  font-size: 30px; font-weight: normal; line-height: 1.6;
  color: #ffffff; margin-bottom: 20px; transition: 1s;
} 

/* 텍스트 박스 호버시 */
article:hover div.txt { background: #69c216; color: #494949; }
article:hover div.txt span { right: 0; opacity: .9; }
article:hover div.txt strong { color: #494949; }

/* 박스 각각의 크기 지정 */
article:nth-child(1) { 
  width: 60%; height: 520px; background-color: #000000; 
}
article:nth-child(2) { 
  width: 40%; background-color: #ccc; 
}
article:nth-child(3) { 
  width: 20%; background-color: #999; 
}
article:nth-child(4) { 
  width: 20%; background-color: #aaa; 
}
article:nth-child(5) { 
  width: 20%; background-color: #999; 
}
article:nth-child(6) { 
  width: 40%; background-color: #888; 
}
article:nth-child(7) { 
  width: 20%; background-color: #777; 
}
article:nth-child(8) { 
  width: 20%; background-color: #666; 
}
article:nth-child(9) { 
  width: 40%; background-color: #555; 
}
article:nth-child(10) { 
  width: 20%; background-color: #444; 
}
article:nth-child(11) { 
  width: 20%; background-color: #333; 
}
article:nth-child(12) { 
  width: 20%; background-color: #222; 
}


/* popup */
#popup {display: none; position: fixed; width: 300px; height: 300px; background-color: #fff; border: 5px double gray; padding: 30px; z-index: 10;
  top: 50%; left: 50%; transform: translate(-50%, -50%);}
#popup h1 { border-bottom: 1px solid lightgray;  text-align: center; padding: 10px;}
#popup h2 {  text-align: center; padding: 7px;}
#popup .popup_cont { margin-top: 20px; width: 300px; height: 260px; text-align: center;}
#popup .popup_cont p { text-align: center;}
#popup a { position: absolute; right: 10px; bottom: 10px; padding: 5px 20px; }
#popup a span { position: absolute; right: 10px; bottom: 10px; padding: 5px 20px; width: 50px; height: 20px; background-color: #7fc241; border-radius: 7px; }
#popup a span:hover { color: #fff;}

/* 미디어 쿼리 사용 화면의 폭마다 레이아웃을 지정 */
/* 1280px ~ 1599px 구간 레이아웃 설정 */
@media screen and (min-width : 1280px) and (max-width : 1599px) {
  header { position: relative; width: 100%; height: 80px; }
  section { width: 100%; margin-left: 0; }

  /* header contents */
  header h1 {
    width: 300px; height: 100px; background: url(../img/LOGO_1.png);
    top: 0; left: 20px; margin-left: 0; background-size: contain;
  }
  header ul#gnb { top: 20px; right: 80px; }
  header ul#gnb li { float: left; }
}

/* 1024px ~ 1279px 구간 레이아웃 설정 */
@media screen and (min-width : 1024px) and (max-width : 1279px) {
  header { 
    position: relative; margin-left: 0; 
    width: 100%; height: 80px; 
  }
  section { width: 100%; margin-left: 0; }

  /* header contents */
  header h1 {
    width: 250px; height: 80px; background: url(../img/LOGO_1.png);
    top: 0; left: 20px; margin-left: 0; background-size: contain;
  }
  header ul#gnb { top: 20px; right: 30px; }
  header ul#gnb li { float: left; }
  header div.snsSet { display: none; }

  article:nth-child(1) { width: 75%; }
  article:nth-child(2) { width: 25%; }
  article:nth-child(3) { width: 25%; }
  article:nth-child(4) { width: 25%; }
  article:nth-child(5) { width: 25%; }
  article:nth-child(6) { width: 50%; }
  article:nth-child(7) { width: 50%; }
  article:nth-child(8) { width: 25%; }
  article:nth-child(9) { width: 25%; }
  article:nth-child(10) { width: 50%; }
  article:nth-child(11) { width: 25%; }
  article:nth-child(12) { width: 25%; }
}

/* 780px ~ 1023px 구간 레이아웃 설정 */
@media screen and (min-width : 780px) and (max-width : 1023px) {
  header { position: relative; width: 100%; height: 80px; }
  section { width: 100%; margin-left: 0; }

  /* header contents */
  header h1 {
    width: 120px; height: 80px; background: url(../img/LOGO_2.png);
    top: 0; left: 20px; margin-left: 0; background-size: contain;
  }
  header ul#gnb { top: 20px; right: 10px; }
  header ul#gnb li { float: left; }
  header ul#gnb li a { padding: 10px; }


  article:nth-child(1) { width: 100%; height: 400px; }
  article:nth-child(2) { width: 66.6666%; }
  article:nth-child(3) { width: 33.3333%; }
  article:nth-child(4) { width: 33.3333%; display: none; }
  article:nth-child(5) { width: 33.3333%; }
  article:nth-child(6) { width: 66.6666%; }
  article:nth-child(7) { width: 66.6666%; display: none; }
  article:nth-child(8) { width: 33.3333%; }
  article:nth-child(9) { width: 33.3333%; }
  article:nth-child(10) { width: 66.6666%; display: none; }
  article:nth-child(11) { width: 33.3333%; }
  article:nth-child(12) { width: 33.3333%; display: none; }
}

/* 640px ~ 779px 구간 레이아웃 설정 */
@media screen and (min-width : 640px) and (max-width : 779px) {
  header { position: relative; width: 100%; height: 80px; }
  section { width: 100%; margin-left: 0; }

  /* header contents */
  header h1 {
    width: 120px; height: 100px; background: url(../img/LOGO_2.png);
    top: 0; left: 20px; margin-left: 0; background-size: contain;
  }
  header ul#gnb { top: 20px; right: 10px; }
  header ul#gnb li { float: left; }
  header ul#gnb li a { padding: 10px; }


  article:nth-child(1) { width: 100%; height: 400px; }
  article:nth-child(2) { width: 100%; }
  article:nth-child(3) { width: 33.3333%; display: none; }
  article:nth-child(4) { width: 100%; display: none; }
  article:nth-child(5) { width: 50%; }
  article:nth-child(6) { width: 50%; }
  article:nth-child(7) { width: 66.6666%; display: none; }
  article:nth-child(8) { width: 50%; }
  article:nth-child(9) { width: 50%; }
  article:nth-child(10) { width: 66.6666%; display: none; }
  article:nth-child(11) { width: 50%; }
  article:nth-child(12) { width: 50%; }
}

/* 480px ~ 639px 구간 레이아웃 설정 */
@media screen and (min-width : 480px) and (max-width : 639px) {
  header { position: relative; width: 100%; height: 130px; }
  section { width: 100%; margin-left: 0; }
  article { height: 150px; }

  /* header contents */
  header h1 {
    width: 180px; height: 120px;
    position: relative; top: 0; left: 0;
    background: url(../img/LOGO_3.png) no-repeat; 
    background-size: cover;
    margin: 0 auto;
  }
  header ul#gnb { width: 100%; height: 40px; top: 95px; right: 0; }
  header ul#gnb li { width: 25%; float: left; }
  header ul#gnb li a { padding: 4px; text-align: center; }


  article:nth-child(1) { width: 100%; height: 300px; }
  article:nth-child(2) { width: 100%; }
  article:nth-child(3) { width: 33.3333%; display: none; }
  article:nth-child(4) { width: 100%; display: none; }
  article:nth-child(5) { width: 50%; }
  article:nth-child(6) { width: 50%; }
  article:nth-child(7) { width: 66.6666%; display: none; }
  article:nth-child(8) { width: 50%; }
  article:nth-child(9) { width: 50%; }
  article:nth-child(10) { width: 66.6666%; display: none; }
  article:nth-child(11) { width: 50%; }
  article:nth-child(12) { width: 50%; }

  article div.bg1 span { font-size: 120px; bottom: -50px; }
  article div.txt strong { font-size: 25px; }
  article div.txt em { display: none; }

}

/* 479px 이하 구간 레이아웃 설정 */
@media screen and (max-width : 479px) {
  header { position: fixed; width: 100%; height: 40px; background-color: transparent; z-index: 5; }

  section { width: 100%; margin-left: 0; z-index: 4; }

  /* header contents */
  header h1 {
    width: 100px; height: 60px;
    position: relative; top: 0; left: 0;
    background: url(../img/LOGO_2.png) no-repeat; 
    background-size: cover;
    margin-left: 0;
  }
  header ul#gnb { 
    width: 300px; top: 180px; right: 50%; margin-right: -150px; 
  }
  header ul#gnb li { width: 100%; } 
  header ul#gnb li a { 
    width: 100%; background-color: #7fc241; box-sizing: border-box;
    margin: 8px 0; border-radius: 10px; opacity: .5; color: #fff;
  }
  header ul#gnb li a:hover { opacity: 1; transform: scale(1.1); color: #fff;}

  article { display: none; }
  article:nth-child(1) {
    display: block; position: fixed; width: 100%; height: 100%;
  }
  article:nth-child(1) div.bg span { 
    font-size: 120px; left: 0; bottom: -40px; 
  }
}